.remake
export
.Rproj.user
.DS_Store
ignore
temp
vignettes/*
docs/*.html
*.zip
*.rds
*.rda
.RData
.Rhistory
*.Rproj
tmp*
reports
data_*.csv
check_dup.csv
deduplicated.csv
duplicates.csv
excluded.csv
studies.csv
waiting_to_build
ignore
