.remake
export
.Rproj.user
.DS_Store
ignore
temp
reports/*.md
reports/*.html
reports/figure
vignettes/*.html
vignettes/figure*
vignettes/*.md
*.zip
*.rds
*.rda
.RData
.Rhistory
*.Rproj
tmp*
reports/report_files
reports/figure
