.remake
export
.Rproj.user
.DS_Store
ignore
temp
*.zip
*.rds
*.rda
.RData
.Rhistory
.cache/
.local/
.config/
.vs/
*.Rproj
tmp*
reports
data_*.csv
scripts/*.html
check_dup.csv
deduplicated.csv
duplicates.csv
excluded.csv
studies.csv
waiting_to_build
ignore
inst/doc
doc
Meta
config/APC/*
config/NSL/*
/doc/
/Meta/
