on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - master
      - develop

name: build

jobs:
  build:
    if: github.event.pull_request.draft == false
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
      
      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: check sources
        run: |
          library(traits.build)
          source("R/custom.R")
          dataset_test(dir("data"))
        shell: Rscript {0}

      - name: build austraits
        run: |
          library(traits.build)
          source("R/custom.R")
          remake::make()
        shell: Rscript {0}

